*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 21, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 16px 8px -9px rgba(191,191,191);
}
.logo{
    font-size: 28px;
    font-weight: 600px;
    color: #fff;
    padding: 10px 40px;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
}
.nav-bar ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 40px;
    transition: .2s;
}
.nav-bar ul li a::after{
    display: block;
    content: '';
    border-bottom: 2px solid #fff;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}
.nav-bar ul li a:hover::after{
    transform: scale(1);
}
.profile {
    position: absolute;
    top: 50px;
    right: 8px;
    background-color: #007bff;
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

}
section{
    border-radius: 10px;
    background-color:orange;
    text-align: center;
    padding: 5px;
}
.tim{
    font-size: 25px;
    padding: 20px;
}
.left{
    margin-left: 550px;
    max-width: 410px;
    overflow: hidden;
}
.slider{
    display: flex;
    padding-block: 1rem;
    gap: 2rem;
    animation: scroll 30s linear infinite;
}
.slider{
    display: flex;
    padding-block: 1rem;
    gap: 2rem;
    animation: scroll 30s linear infinite;
}
.slider img{
    height: 150px;
    width: 300px;
}

@keyframes scroll {
    to{
        transform: translate(-245%);
    }
}
a{
    text-decoration: none;
    color: #fff;
}
.active{
    color: orange;
    font-weight: bold;
}
.references{
   
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20px;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.select-countrys{
    border-radius: 10px;
    width: 270px;
    text-align: center;
    padding: 20px 20px;
    margin-top: 30px;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
    font-family: sans-serif, Arial, Helvetica;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);


}
.select-countrys:hover{
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.select-countrys p{
    color: rgb(81, 80, 80);
    padding: 15px;
    font-size: 15px;
}
.shoes-cloth{
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;

}
.shoes{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.shoes a{
    color: black;
}
.cloth{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.cloth a{
    color: black;
}
.shoes .active{
    color: #7700ff;
}
.cloth .active{
    color: #7700ff;
}
.times{
    background-color:whitesmoke;
    padding: 30px;
    margin: 20px;
}
.two{
    text-align: center;
    color: rgb(72, 72, 72);
}

@media screen and (max-width:600px){
    .hamburger{
        display : block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 28px;
        height: 3px;
        background-color: #fff;
        margin: 6px 30px;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: green;
        transition: .5s;
        overflow: hidden;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 0 auto;
        transition: .5s;
        opacity: 0;
    }
    .nav-bar.active{
        height: 350px;
        background-color: green;
        opacity: 1;
    }
    .nav-bar ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
        font-size: 20px;
    }.profile {
        position: absolute;
        top: 55px;
        right: 15px;
        background-color: #007bff;
        color: white;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: bold;
        font-size: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    
    }
    .home p{
        font-size: 50px;
        font-weight: bold;
        padding: 100px 20px;
    }
    section a{
        font-size: 15px;
    }
    .left{
        margin-left: 35px;
        max-width: 309px;
    }
    .times{
        font-size: 20px;
        padding: 15px;
    }
    .select-countrys{
        border-radius: 10px;
        width: 120px;
        text-align: center;
        padding: 20px 20px;
        margin-top: 20px;
        background-color: white;
        overflow: hidden;
        transition: .5s;
        font-family: sans-serif, Arial, Helvetica;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    }
    .select-countrys img{
        height: 90px;
        width: 90px;
    }
    .select-countrys:hover{
        transform: scale(1.1);
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    }
    .select-countrys p{
        color: black;
        padding: 0px;
        font-size: 10px;
    }
    .select-countrys img:hover{
        transform: scale(1.1);
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    }
    .references{
        padding: 0;
        margin: 0;
    }
    footer{
        padding: 0px 0px;
        background-color: rgb(69, 68, 68);
        margin-top: 0px;
        margin: 0;
    }
    .x{
        display: flex;
        justify-content: space-evenly;
        font-size: 10px;
        padding: 0 0 20px  0;

    }
    
    
    .I{
        padding: 5px;
        color: white;
        font-size: 8px;
        margin-left: -15px;
    }
    .I strong{
        color: rgb(243, 139, 4);
        font-size: 8px;
    }
    .ii{
        padding: 5px;
        color: rgb(166, 166, 166);
        margin-left: -15;
    
    }
    .iii{
        padding: 5px;
        color: rgb(166, 166, 166);
        margin-left: -15;
    
    }
    .iv{
        padding: 0 0 0 10px;
        color: rgb(166, 166, 166);
        margin-left: -15;
    
    }
    .vv{ 
        margin-left: 10px;
        padding: 5px;
        color: rgb(166, 166, 166);
    }
    
}
footer{
    padding: 20px 20px;
    background-color: rgb(69, 68, 68);
    margin-top: 5px;

}
.x{
    display: flex;
    justify-content: space-evenly;
}


.I{
    /* padding: 20px; */
    color: white;
}
.I strong{
    color: rgb(243, 139, 4);
}
.ii{
    /* padding: 20px; */
    color: rgb(166, 166, 166);

}
.ii strong{
    color: white;
}
.ii p a{
    color: rgb(166, 166, 166);
    text-decoration: none;
}
.iii{
    /* padding: 20px; */
    color: rgb(166, 166, 166);

}
.iii strong{
    color: white;
}
.iii p a{
    color: rgb(166, 166, 166);
    text-decoration: none;
}
.iv{
    /* padding: 20px; */
    color: rgb(166, 166, 166);

}
.iv strong{
    color: white;
}
.iv a{
    color: rgb(166, 166, 166);
    text-decoration: none;
}
.vv{ 
    /* margin-left: 50px; */
    /* padding: 0px; */
    color: rgb(166, 166, 166);
}
.vv strong{
    color: white;
}
.vv p a{
    text-decoration: none;
    color: rgb(166, 166, 166);
}
.vi{
    color: rgb(166, 166, 166);
    text-align: center;
}
.vi strong{
    color: white;
}

